<div class="card container">
    <div class="card-header">
        <h4> <i class="far fa-calendar-alt"></i><strong>Detail</strong></h4>
    </div>
    <div class="card-body">
        <h6>Last Name:</h6>
        <p>Alexander</p>
        <h6>First Name:</h6>
        <p>Carson</p>
        <h6>Enroll Date:</h6>
        <p>9//1/2005 12:00:00 AM</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                    <th>Credits</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chemistry</td>
                    <td>65</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Microeconomics</td>
                    <td>67</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Macroeconomics</td>
                    <td>66</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>