<div class="header container" style="padding-left:0px; padding-right: 0px; ">
    <img id="id.banner" src="../assets/images/banner.png" style="width: 100%;">
</div>
<nav class=" container navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item">
        <strong><a class="nav-link" [routerLink]="['/home']" >Trang Chủ</a></strong>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " [routerLink]="['/danhmuc']" >
            <strong> Danh Mục Môn Học</strong>
        </a>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link" [routerLink]="['/dangnhap']">Đăng Nhập</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link" [routerLink]="['/lienhe']" >Liên Hệ</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link" >Hỏi Đáp</a></strong>
      </li>
      <li class="nav-item">
        <strong><a class="nav-link">Góp Ý</a></strong>
      </li>
    </ul>
  </nav>
  <div class="container " style="padding-left:0px; padding-right: 0px; ">
</div>
<div class="container " style="padding-left:0px; padding-right: 0px; ">
  <div class="content" style="width: 75%; float: left;">
      <div class="card">
         
          <div class="card-body">
              <div class="row">
                  <div class="col col-6">
                      <div class="card">
                          <div class="card-body text-center">
                              <img src="../assets/images/ADAV.jpg">
                              <div id="marquee">
                                  <strong>
                                      Lập Trình Android
                                  </strong>
                              </div>

                          </div>
                      </div>

                  </div>
                  <div class="col col-6">
                      <div class="card">
                          <div class="card-body text-center">
                              <img src="../assets/images/WEBU.jpg">
                              <div id="marquee">
                                  <strong>
                                  Lập Trình Dao Diện Web
                                  </strong>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="w-100">
                      <br>
                  </div>
                  <div class="col col-6">
                      <div class="card">
                          <div class="card-body text-center">
                              <img src="../assets/images/GAME.png">
                              <div id="marquee">
                                  <strong>
                                      GAME
                                  </strong>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col col-6">
                      <div class="card">
                          <div class="card-body text-center">
                              <img src="../assets/images/Subject.png">
                              <div id="marquee">
                                  <strong>
                                  SUBJECT
                                  </strong>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="w-100">
                      <br>
                  </div>
              </div> 
              <div class="text-center number">
                <a href="#" class="active1">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
            </div>
          </div>
      </div>
  </div>
  <div class="gioithieu" style="width: 25%; float: left;">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="mb-0">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>  Danh Mục Môn Học 
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
            data-parent="#accordionEx">
            <div class="card-body">
                <ul>
                    <li>
                        Kiểm thử và triển khải
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        SQL Sever
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Điện toán đảm bảo
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Lập trình PHP
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Lập trình Android nâng cao
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Thiết Kế Layout
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Thiết kế giao diện trên Android
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Quản lý dự án với Aglie
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Internet Marketting
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Lập trình hướng đối tượng Java
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        Lập trình ASP.NET
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>